<!DOCTYPE html>
<html>
  <head>
    <title>FileUploader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'index' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="center-content">
      <%= yield %>
    </div>
  </body>
</html>
